@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .header {
    @apply w-full px-[120px] h-[84px] bg-white flex items-center justify-center;
  }

  .header-container {
    @apply w-full max-w-[1440px] flex items-center justify-between  h-[44px] gap-[60px];
  }
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
